* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading styles*/
header {
    background-color: #FCFAFA;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: auto;
    width: 250px;
    padding: 25px 15px 15px 15px;
}

/* Intro styles*/
section.intro {
    background-color: #FCFAFA;
    padding: 30px;
    border-bottom: 7px solid #DBB943;
    /* background-image: url(/assets/a-bunch-of-make-up-brushes-6148.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    min-height: 60vh;
}



.intro-container {
    width: 100%;

}

.heading {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin-bottom: 5%;
    color: #104E54;
    font-size: 2rem;
}

.intro-copy {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    color: #070606;
    font-size: 1.2rem;

}

.copy {
    padding: 9px;
}

footer {
    background-color: #ecd1c3;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.footer-content ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.socials>li {
    list-style: none;
    padding: 10px;

}

/* Sign up styles*/
section.sign-up {
    background-color: #1b2627;
    padding-top: 55px;
    padding-bottom: 45px;
}

.sign-up-form {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .copy {
        font-size: 1.4em;
    }
}